<div style= "padding-top: 4%; padding-left: 7%; padding-right: 7%" >
    <span>
        <table>
            <tr> 
                <td rowspan="2" align="left" style="padding-left: 50px"> 
                    <strong> Solicitação de nova senha </strong>
                </td>
            </tr>
        </table>
    </span>

    <div>
        <p> Olá! </p>
        <p> Recebemos uma solicitação de nova senha. Se foi você, acesse o link abaixo. Caso contrário, desconsidere esse e-mail. </p>
	    
  	    <a href="localhost:3000/nova-senha/{{token}}" target="_blank"> Cadastrar nova senha </a>
    </div>
        
</div>